<?xml version="1.0"?>
<config>
    <modules>
        <ElderXavier_Stockmanager>
            <version>0.1.0</version>
        </ElderXavier_Stockmanager>
    </modules>           
    <global>                        
        <helpers>
            <stockmanager>
                <class>ElderXavier_Stockmanager_Helper</class>
            </stockmanager>
        </helpers>
        <models>
            <stockmanager>
                <class>ElderXavier_Stockmanager_Model</class>                
            </stockmanager>
        </models>
        <events>                
            <order_cancel_after>
                <observers>
                    <stockmanager_order_cancel_observer>
                        <class>stockmanager/observer</class>
                        <method>custom_sales_order_cancel</method>
                    </stockmanager_order_cancel_observer>
                </observers>
            </order_cancel_after>                
            </events>
    </global>
    <!--
    <admin>
        <routers>
            <stockmanager>
                <use>admin</use>
                <args>
                    <module>ElderXavier_Stockmanager</module>
                    <frontName>stockmanager</frontName>
                </args>
            </stockmanager>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <stockmanager module="stockmanager">
                <title>stockmanager</title>
                <sort_order>100</sort_order>
                    <children>
                        <item1 module="stockmanager">
                            <title>Index</title>
                            <sort_order>0</sort_order>
                            <action>stockmanager/adminhtml_stockmanager</action>
                        </item1>                        
                    </children>                               
            </stockmanager>
        </menu>
        <acl >
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <stockmanager>
                            <title>Stockmanager Module</title>
                            <sort_order>201</sort_order>
                        </stockmanager>
                    </children>
                </admin>
            </resources>   
        </acl>

        <layout>
            <updates>
                <stockmanager>
                    <file>stockmanager.xml</file>
                </stockmanager>
            </updates>
        </layout>
    </adminhtml>
    -->
</config>